{{#section 'head'}}
  <title>海勃在线应聘</title>
  <style type="text/css">
    .item-input .field-label{
      max-width: 5rem
    }
    .postinfospan{
      padding-left: 2em
    }
    .fixflex{
      flex: 0 0 auto
    }
  </style>
{{/section}}

{{#section 'jquery'}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/exif-js/2.3.0/exif.min.js"></script>
  <script src="/js/views/interview/onlineinterview6.js"></script>
  <script>
  </script>
{{/section}}