{{#section 'head'}}
  <title>测试</title>
  <style type="text/css">
    .item-input .field-label{
      max-width: 5rem
    }
    .postinfospan{
      padding-left: 2em
    }
    .fixflex{
      flex: 0 0 auto
    }
    .dataItem{
      flex: 1 1 auto
    }
  </style>
{{/section}}

{{#section 'jquery'}}
  <script src="/js/views/interview/test.js"></script>
{{/section}}