{{#section 'script'}}
  <script>
      var g_envVar = {{encodeMyString g_envVar}};
  </script>
  <script src='{{clientJs}}'></script>
{{/section}}

{{#section 'head'}}
  <meta name="apple-mobile-web-app-title" content={{title}}>
  <title>{{title}}</title>
{{/section}}

{{#section 'postScript'}}
{{/section}}