<!DOCTYPE html>
<html style="height:100%">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/vendor/bootstrap4/css/bootstrap.css">
        <link rel="stylesheet" href="/erpdesigner/css/main.css">
        <link rel="stylesheet" href="/vendor/font-awesome-4.7.0/css/font-awesome.min.css">

        <title>ERP设计器New</title>
    </head>

    <body class="w-100 h-100">
        <div id="reactRoot" class="w-100 h-100 bg-secondary unselectable">
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.6.1/prop-types.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/reselect/3.0.1/reselect.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.0.0-beta.49/polyfill.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="/vendor/bootstrap4/js/bootstrap.js"></script>
        {{#if isproduction}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.4.0/umd/react.production.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.4.0/umd/react-dom.production.min.js"></script>
        {{else}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.4.0/umd/react.development.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.4.0/umd/react-dom.development.js"></script>
        {{/if}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.4/fetch.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/latest/js.cookie.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/EventEmitter/5.2.4/EventEmitter.js"></script>


        <script src="/erpdesigner/js/globalConfig.js"></script>
        <script src="/erpdesigner/js/myMath.js"></script>
        <script src="/erpdesigner/js/utilities.js"></script>
        <script src="/erpdesigner/js/core/IAttributeable.js"></script>
        <script src="/erpdesigner/js/core/CAttributeGroup.js"></script>
        <script src="/erpdesigner/js/core/CAttribute.js"></script>
        <script src="/erpdesigner/js/core/DataMaster.js"></script>
        

        <script src="/erpdesigner/js/controls/ControlKernelBase.js"></script>
        <script src="/erpdesigner/js/controls/ContainerKernelBase.js"></script>
        <script src="/erpdesigner/js/controls/M_ControlBase.js"></script>
        <script src="/erpdesigner/js/controls/M_ContainerBase.js"></script>
        
        
        <script src="/erpdesigner/js/controls/mobile/M_Page.js"></script>
        <script src="/erpdesigner/js/controls/mobile/M_Container.js"></script>
        <script src="/erpdesigner/js/controls/mobile/M_Label.js"></script>
        

        <script src="/erpdesigner/js/core/CProject.js"></script>

        <script src="/erpdesigner/js/ui/attributeEditor.js"></script>
        <script src="/erpdesigner/js/ui/mainMenu.js"></script>
        <script src="/erpdesigner/js/ui/statusBar.js"></script>
        <script src="/erpdesigner/js/ui/controlPanel.js"></script>
        <script src="/erpdesigner/js/ui/attributePanel.js"></script>
        <script src="/erpdesigner/js/ui/contentPanel.js"></script>
        <script src="/erpdesigner/js/ui/flowMouseContainer.js"></script>
        <script src="/erpdesigner/js/ui/quickMenu.js"></script>
        <script src="/erpdesigner/js/ui/dropDownControl.js"></script>
        <script src="/erpdesigner/js/ui/outlinePanel.js"></script>
        <script src="/erpdesigner/js/ui/splitPanel.js"></script>
        <script src="/erpdesigner/js/ui/floatPanelBase.js"></script>
        <script src="/erpdesigner/js/ui/DataMasterPanel.js"></script>
        <script src="/erpdesigner/js/ui/tabComponent.js"></script>
        <script src="/erpdesigner/js/ui/listDataEditor.js"></script>
        <script src="/erpdesigner/js/ui/TipWindow.js"></script>
        
        
        <script src="/erpdesigner/js/ui/projectDesigner.js"></script>
        <script src="/erpdesigner/js/ui/projectContainer.js"></script>
        <script src="/erpdesigner/js/main.js"></script>
    </body>
</html>
