<!DOCTYPE html>
<html style="height:100%">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap4/css/bootstrap.css">

    <title>ERP设计器New</title>
</head>

<body class="w-100 h-100">
    <div class="w-100 h-100 d-flex flex-column">
        <div class="flex-grow-0 bg-primary">
            <div>主菜单</div>
        </div>
        <div class="flex-grow-1 h-100" style="overflow:auto">
            <div class="d-flex flex-column h-100">
                <div class="flex-grow-0 bg-" id="pageTabsContainer">

                </div>
                <div class="flex-grow-1 h-100" style="overflow:auto" id="pageContentContainer">
                    <div class="d-flex h-100">
                        <div class="flex-grow-0" style="width:100px">Toolbar</div>
                        <div class="flex-grow-1 bg-info">Page</div>
                        <div class="flex-grow-0" style="width:200px">Props</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-grow-0 bg-info">页脚</div>
    </div>

    <script src="https://cdn.bootcss.com/prop-types/15.6.1/prop-types.js"></script>
    <script src="https://cdn.bootcss.com/fetch/2.0.4/fetch.min.js"></script>
    <script src="https://cdn.bootcss.com/reselect/3.0.1/reselect.min.js"></script>
    <script src="https://cdn.bootcss.com/babel-polyfill/7.0.0-beta.49/polyfill.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.slim.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="/vendor/bootstrap4/js/bootstrap.js"></script>
    <script src="https://cdn.bootcss.com/react/16.4.0/umd/react.development.js"></script>
    <script src="https://cdn.bootcss.com/react-dom/16.4.0/umd/react-dom.development.js"></script>
    <script src="/erpdesigner/js/main.js"></script>
</body>

</html>